---
import { url } from '@/lib/url';
---

<div class="mt-12 mb-28 max-lg:ml-6 max-lg:h-[550px] max-lg:overflow-hidden md:mt-20 lg:container lg:mt-24 lg:mb-32">
  <div class="relative aspect-video w-full overflow-hidden rounded-2xl shadow-lg max-lg:rounded-r-none">
    <video
      src={url("/screenshots/demo-light.mp4")}
      autoplay
      muted
      loop
      playsinline
      controls
      class="absolute inset-0 h-full w-full object-cover dark:hidden"
    />
    <video
      src={url("/screenshots/demo-dark.mp4")}
      autoplay
      muted
      loop
      playsinline
      controls
      class="absolute inset-0 hidden h-full w-full object-cover dark:block"
    />
  </div>
</div>
